.wrap {
  padding: 20px;
  background: #25273c;
  display: flex;
  justify-content: space-between;
}

.btn {
  font-family: "Cafe24SsurroundAir", sans-serif;
  border: 0;
  /* background-color : transparent;*/
  background: none;
  color: #999999;
  font-size: 12px;
  line-height: 25px;
  cursor:pointer;
}
.btn:hover{
  color : skyblue;
}
.left {
  color: #999999;
  font-size: 12px;
  line-height: 25px;
}
.filter {
  display: flex;
}
