.wrap {
  width: 300px;
}

.header {
  height: 50px;
  background-color: pink;
}

.nav {
  height: 50px;
  background-color: skyblue;
}

.contents-wrap {
  display: flex;
}
.section {
  width: 200px;
  height: 50px;
  background-color: yellowgreen;
}

.article {
  width: 200px;
  height: 50px;
  background-color: blueviolet;
}
.aside {
  width: 100px;
  height: 100px;
  background-color: cornsilk;
}

.footer {
  height: 50px;
  background-color: cornflowerblue;
}
